
__pycache__
*.pyc
.python-version
.venv
venv
.idea
.vscode
allure-results/*
coverage_report/
reports
*.log
dist/
build/
*.egg-info/
.coverage
.pytest_cache/
.ruff_cache/
site/
htmlcov/

har2pytest_config.json
apis/*
async_apis/*
api/*
async_api/*
testcases/*
har_main.py
*.har
