
__pycache__
*.pyc
.python-version
.venv
venv
.idea
.vscode
*.vscode
allure-results/*
coverage_report/
reports
*log
dist/
build/
*.egg-info/
.coverage

har2pytest_config.json
apis/
api/
testcases/
util/
har_main.py
*.har
